# Numpy

In [1]:
import numpy as np

In [2]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [3]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [4]:
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [7]:
a = np.array([1,2,3,4,5,7,12])
a

array([ 1,  2,  3,  4,  5,  7, 12])

In [9]:
# access element in the array 6
a[5]

np.int64(7)

In [10]:
# Change element in the position 
a[3] = 10
a

array([ 1,  2,  3, 10,  5,  7, 12])

In [11]:
# create a range 0 to 9
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
# create a range from 3 to 9
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [14]:
# create an array of size 11 with numbers at equal intervals between 0 and 100
np.linspace(0, 100, 11)

array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

# Multi-dimentional arrays

In [15]:
# create an array with 5 rows and 2 columns
np.zeros((5, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [23]:
# create an array from a list of lists
n = np.array([
    [1,2,3],
    [4,5,6],
    [8,9,10]
])
n

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 8,  9, 10]])

In [24]:
# Access element in row 0 and column 1 (Remember arrays are zero-based)
n[0,1]

np.int64(2)

In [25]:
# update element in row 0 and column 1 to 20
n[0,1] = 20
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 8,  9, 10]])